<div class="tab-pane fade" id="click-backlink" role="tabpanel" aria-labelledby="nav-home-tab">
    <div class="col-xl-12 col-md-12 pl-0">

        <div class="card-box">

            <div class="row">
                <div class="col-12">
                    <div class="card-box table-responsive">
                        <button class="btn btn-primary waves-effect waves-light mb-1" data-toggle="modal"
                            data-target="#backlink-modal">Thêm dự án</button>
                        <% include ./modal-create-backlink %>
                        <table id="datatable" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th style="width: 10%">STT</th>
                                    <th style="width: 30%">Tên dự án</th>
                                    <th style="width: 25%">Trạng thái</th>
                                    <th style="width: 25%">Hành động</th>
                                </tr>
                            </thead>
                            
                                <% allBackLinkProject.map((item, index) => { %>
                                    <tr>
                                            <td><%- index+1 %></td>
                                            <td><%- item.name %></td>
                                            <td><%- item.status %></td>
                                            <td>
                                                <button type="button"
                                                    class="btn btn-info btn-bordred waves-effect waves-light m-b-5"
                                                    onclick="viewBackProject('<%- item._id %>')" data-toggle="modal"
                                                    data-target="#view-modal-backlink">Xem</button>
                                                <button type="button"
                                                    class="btn btn-warning btn-bordred waves-effect waves-light m-b-5" data-toggle="modal"
                                                    id='btnSchedule-<%- item._id%>' 
                                                    <% if(item.status =='not started' || item.status =='stopped') { %>
                                                    onclick="saveID('<%- item._id %>')"
                                                    <% } else { %>
                                                    disabled
                                                    <% } %>
                                                    data-target="#setTimer-backlink-modal">Hẹn giờ chạy</button>
                                                
                                                <button type="button"
                                                    class="btn btn-success btn-bordred waves-effect waves-light m-b-5"
                                                    id="btnBackLinkRun-<%- item._id %>"
                                                    <% if(item.status =='not started' || item.status =='stopped') { %>
                                                    onclick="runBackLinkTool('<%- item._id %>')"
                                                    <% } else { %> 
                                                    disabled
                                                    <% } %>
                                                    >Chạy ngay</button>
            
                                            </td>
                                    </tr>
                                <% }) %>
                             

                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div> <!-- end row -->
        </div>
    </div><!-- end col -->
</div>

<% include ./modal-setTimer-backlink.ejs%>
<% include ./modal-view-backlink %>